{% load static %}

<html>
    <head><title> here you are</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <link rel="stylesheet"  href="{% static 'home_page/styles.css' %}"/>
    </head>
    <body>

        <div>
            <button class="button_github" onclick="window.location.href = 'https://github.com/biero-el-corridor';">My Ghithub</button>
            <button class="button_linkedin" onclick="window.location.href = 'https://www.linkedin.com/in/erwan-cordier-8b8646211/';">My Linkedin</button>
        </div>
        <br>
        <br>
        <br>

        <h1>hello there</h1>
        <br>
        <br>
        <h2>This is my personal website (it's beautiful isn't it ?).<br> 
            Imagine when it will be finished it will be even more beautiful.</h2>
    </body>

</html>